/*
#market_information {
  background-color: white;
  width:  300px;
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 10px;

  display: none;
}

#category_selector {
  position: absolute;
  top:      15%;
  right:    1%;
  z-index:  1;

  padding: 5px;

  background: url(/images/background.png) repeat;

  -moz-border-radius: 5px;
  border-radius:      5px;

  display: none;
}

#category_selector ul {
  padding: 0px;
  margin:  0px;

  list-style-type: none;
}

#category_selector ul li a {
  text-decoration: none;
  color:           black;

  outline: none;
}

#category_selector ul li div {
  border-radius:      5px;
  -moz-border-radius: 5px;
}

#category_selector ul li a:hover div {
  background-color: #F5DEB3;
}

#category_selector ul li a div img {
  border: none;

  vertical-align: middle;
}

#overlay {
  position: absolute;
  top:      0px;
  z-index:  2;

  width:  100%;
  height: 100%;

  background: url(/images/landing_fade.png) right bottom;
}

#buzz {
  position: absolute;
  left: 50%;
  bottom: 160px;
  margin-left: -310px;
}

#window_top {
  width:  619px;
  height: 50px;
  background: url(/images/landing_window_top.png) no-repeat;
}

#window_middle {
  width:   499px;
  padding: 0 60px;

  background: url(/images/landing_window_middle.png) repeat;
}

#title {
  margin-bottom: 18px;
  clear: both;
}

#title h2 {
  font-size: 26px;
  width: 300px;
  line-height: 32px;
  display: inline-block;
}

#title img {
  vertical-align: top;
  margin-top: -4px;
}

#description {
  font-size: 13px;
  line-height: 22px;
  padding-bottom: 35px;
}

#sign_up_form {
  position: absolute;
  font-size: 14px;
}

#dialog_form {
  padding-top: 5px;
}

#window_bottom {
  width:  499;
  height: 120px;

  padding: 0 60px;
  background: url(/images/landing_window_bottom.png) no-repeat;
}

#user_email {
  width:   355px;
  height:  33px;
  padding: 5px;

  margin-right: 12px;

  font-size: 18px;
}

#dialog_submit_button {
  vertical-align: top;
  outline: 0;

  display: inline-block;
}

#arrow {
  position: absolute;
  bottom: 175px;
  right:  250px;

  width:  119px;
  height: 70px;

  background: url(/images/landing_arrow.png);
}

.gift {
  position: absolute;
  top: 10px;

  width: 100%;
  text-align: center;

  display: none;
}*/