%h4 Добрый день!
%p Вы успешно зарегистрировались на сайте #{link_to t(:confirmation_gold_link_title), root_url}.

%p 
  Ваш персональный код доступа к карте:
  %b #{@user.temporary_password_accessor}

%p Просто скопируйте его в буфер обмена и вставьте в соответствующее поле, когда Вам потребуется воспользоваться картой.

%p
  Напоминаем, что на сайте «Карта скидок» проводится акция «Карта для друга».
  У Вас и Ваших друзей есть уникальная возможность приобрести дисконтную карту «Золотая середина» всего за 250 рублей!
  %br
  Для этого просто выберите на карте #{link_to root_url, root_url} три любых заведения или компании, услугами которых Вы пользовались в последнее время, и расскажите о Ваших впечатлениях.
  Ваши отзывы пополнят копилку народного опыта на сайте tulp.ru, а Вы или кто-то из Ваших друзей на Ваш выбор получите право купить карту «Золотая середина» дешево как никогда!

%p
  С уважением,
  %br
  «Золотая середина» и tulp.ru