%h4 Добрый день!
%p Вы успешно зарегистрировались на сайте «Карта скидок Золотой Середины»

%p 
  Ваш персональный код доступа:<br/>
  %b #{@user.temporary_password_accessor}

%p Cкопируйте его в буфер обмена и вставьте в соответствующее поле. 

%p
  С уважением,<br/>
  «Золотая середина» и tulp.ru