%h4 Добрый день!
%p
  На #{link_to t(:maillist_email_gold_link_title), root_url} появились новые заведения и по-прежнему есть возможность купить карту «Золотая середина»
  %b на 50% дешевле!

%p
  Просто напишите отзывы о трех любых заведениях Новосибирска, и Вы или Ваш друг сможете приобрести карту «Золотая середина»
  %b всего за 250 рублей.

%p
  %b Новое на «Карте скидок»:
  %ul
    %li «Беркут» на ул. Кропоткина, 269а
    %li «Энергия» на ул. Ватутина, 103 и Петухова, 19,
    %li «Мир красоты» на ул. Мичурина,
    %li «Квадро» на ул. Советская, 46/2,
    %li «Стройтекс» на ул. Д. Ковальчук, 2/2 оф.23,
    %li «ТЕРМОФОР» на ул. Мира, 62 к.1
    %li «ЛОГОС» на К. Маркса, 47/2, Б. Богаткова, 239, Красный проспект, 153/1 и Челюскинцев, 48/1.

%p Следите за обновлениями!

%p
  С уважением, «Золотая середина» и tulp.ru