%h4 Здраствуйте!
%p Вы успешно сменили код доступа на сайте #{link_to t(:new_password_gold_link_title), root_url}.

%p
  Теперь Ваш персональный код доступа к карте:
  %b #{@user.temporary_password_accessor}

%p Просто скопируйте его в буфер обмена и вставьте в соответствующее поле, когда Вам потребуется воспользоваться картой.

%p
  С уважением,
  %br
  «Золотая середина» и tulp.ru