- content_for :head do
  = stylesheet_link_tag    'app/home/index'
  = javascript_include_tag 'app/home/index'

#yandex_maps
/ инфо
/ модальное окно (не спрашивать дважды)
/ убирать div заголовка при наведении
/ текущее положение
/ разные типы меток