.b-sidebar {
  width:auto;
  height:auto;
  margin:20px;
  width:300px;
  position:absolute;
  top:0px;
  z-index:900;
}

.b-sidebar-content {
  width:300px;
}

/*круглые углы сверху*/
.b-sidebar-top {
  width:100%;
  height:12px;
  background-image:url('/images/left_panel_top.png');
  background-repeat: no-repeat;
  float:left;
}

.b-sidebar-middle {
  width:100%;
  height:440px;
  background-image: url('/images/left_panel_middle.png');
  float:left;
  position:relative;
}

/*обертка контента*/
.b-sidebar-middle- {  
}

/*лого Золотая середина*/
.b-sidebar-middle-logo {
  display:block;
  margin:0 0 0 10px;
  position: relative;
  padding-left:20px;
}

/*список категорий*/
.b-categories {
  width: 220px;
  height: 40px;
  position: relative;
  padding:0 20px 20px;
  z-index: 1;
}

/*выпадающее меню*/
.b-categories ul {
  position:absolute;
  list-style-type: none;
  width:102%;
  margin-top:10px;
  font-size:14px;
  border:1px solid;
  background-image: url('/images/list_background.png');
  font-weight:600;
}

.b-categories li {
  padding:5px 8px;
  display:none;
}

.b-categories li:hover {
  cursor: pointer;
  background-color: #FCDD9D;
}

.b-categories li:first-child {
  display: block;
  background-color: transparent;
}

/*иконка в выпадающем меню*/
.b-categories-icon {
  margin-top:-2px;
  display:block;
  float:left;
}

/*стрелка в выпадающем меню*/
.b-categories-arrow {
  float:right;
  margin-top: 8px;
}

/*текст в выпадающем меню*/
.b-categories-span {
  margin:6px 0 0 10px;
  line-height:21px;
}

/*блок магазина*/
.b-market {
  display: none;
}

/*адрес*/
.b-sidebar-middle-adress {
  font-size: 11px;
  color:#737373;
  margin:0px 0 3px 0px;
  padding:0;
  float:left;
  clear:both;
  width:158px;
}

.b-sidebar-middle-subcategory {
  padding: 0;
  width:250px;
  margin:0 0 10px 20px;
}

/*иконка заведения*/
.b-sidebar-middle-description-text img {
  display:block;
  padding-left:20px;
  float:left;
}

/*Информация о заведении*/
.b-details {
  width:auto;
  height:auto;
  margin-top:15px;
  float:left;
  margin-left: -4px;
  padding-left:20px;
  overflow:hidden;
}

.b-details-left {
  width:5px;
  height:15px;
  background-image: url('/images/more_text_sprite.png');
  background-position: left top;
  float:left;
}

.b-details-right {
  height:15px;
  background-image: url('/images/more_text_sprite.png');
  background-position: right top;
  float:right;
  width:auto;
}

.b-details-text {
  color:#ffffff;
  font-size:10px;
  display:block;
  padding:1px 10px 0px 5px;
  float: left;
  width:240px;
  line-height:14px;
}

.b-details-description {
  /*  display:none;*/
  padding:15px 0 0 20px;
  float:left;
  width:260px;
}

/*иконка открытой вкладки*/
.b-details-arrow-open {
  dispay:block;
  position: absolute;
  background-image: url('/images/more_text_dropdown_icons.png');
  background-position: left top;
  width:7px;
  height:7px;
  margin-left:235px;
  margin-top:4px;
}

/*иконка закрытой вкладки*/
.b-details-arrow-closed {
  dispay:block;
  position: absolute;
  background-image: url('/images/more_text_dropdown_icons.png');
  background-position: right top;
  width:7px;
  height:7px;
  margin-left:235px;
  margin-top:4px;
  float:left;
}

/*контакты заведения*/
.b-details-phones {
  font-size:10px;
  margin:10px 0 0 10px;
  float:left;
  width:28px;
}

.b-details-phone-numbers {
  list-style-type: none;
  font-size: 10px;
  margin:10px 0 0 5px;
  display: block;
  float:left;
}

.b-details-emails {
  font-size:10px;
  margin:10px 0 0 10px;
  float:left;
  display: inline;
  clear:both;
  width:28px;
}

.b-details-email-addresses {
  list-style-type: none;
  font-size: 10px;
  margin:10px 0 0 5px;
  display: block;
  float:left;
  line-height:18px;
}

.b-details-websites {
  font-size:10px;
  margin:10px 0 0 10px;
  float:left;
  display: inline;
  clear:both;
}

.b-details-website-addresses {
  list-style-type: none;
  font-size: 10px;
  margin:10px 0 0 5px;
  display: block;
  float:left;
}

/*нижняя часть сайдбара*/
.b-sidebar-bottom {
    width:100%;
    height:75px;
    background-image: url('/images/left_panel_bottom.png');
    background-repeat: no-repeat;
    float:left;
}

.b-sidebar-bottom img {
  position:absolute;
  margin:20px 0 0 80px;
}

.b-sidebar-middle-menu {
  margin-top:20px;
}

/*вкладки меню*/
.b-tabs {
  width:267px;
  position:relative;
  float:left;
  padding-left:20px;
}

.b-tabs-menu {
  list-style-type:none;
}

.b-tabs-menu li {
  display:block;
  float:left;
  padding-right:7px;
}

.b-tabs-menu-right {
  height:22px;
  width:3px;
  background-image: url('/images/tab_background.png');
  background-position:left top;
  background-repeat:no-repeat;
  display:block;
  float:left;
}

.b-tabs-menu-left {
  height:22px;
  display:block;
  float:left;
  background-image: url('/images/tab_background.png');
  background-position:right top;
  background-repeat:no-repeat;
  padding:0px 6px 0 3px;
}

.b-tabs-active {
  text-decoration:none;
  font-size:11px;
  float:left;
  display:block;
  outline:none;
}

.b-tabs-inactive {
  float:left;
  display:block;
  font-size:11px;
  outline:none;
}

.b-tabs-inactive span {
  background:none;
}

.b-tabs-icon {
  padding:0;
  display:block;
  float:left;
  padding:5px 5px 0 0px;
  margin
}

.b-tabs-menu-text {
  margin-top:4px;
  display:block;
}

.b-tabs-menu li:last-child .b-tabs-menu-text {
  background-image:url('/images/icon_add_review.png');
  background-repeat:no-repeat;
  padding-left:14px;
}

.b-sidebar-middle-description {
  background-image:url('/images/tabs_background.png');
  background-repeat:repeat-x;
  background-position:top;
  clear:both;
  padding-top:25px;
  width:300px;
  overflow:hidden;
}

.b-sidebar-middle-description h2 {
  max-width:155px;
  display:block;
  font-size:14px;
  float:left;
}

.b-sidebar-middle-description img {
  padding-left:20px;
  float:left;
  display:block;
}

.b-sidebar-middle-description-wrap {
  max-width:158px;
  overflow:hidden;
}

.b-stars {
  background:url('/images/stars_small.png') top repeat-x;
  width:80px;
  height:15px;
  display:block;
  margin:0px 0 0 210px;  
  position:absolute;
}

.b-stars-full {
  background:url('/images/stars_small.png') bottom left repeat-x;
  width:48px;
  height:15px;
  display:block;
  float:left;
  position:absolute;
}

.b-stars-review {
  background:url('/images/stars_small.png') top repeat-x;
  width:80px;
  height:15px;
  display:block;
  margin:-15px 0 0 200px;
  float:left;
  position:absolute;
}

.b-stars-review-full {
  background:url('/images/stars_small.png') bottom repeat-x;
  width:48px;
  height:15px;
  display:block;  
  float:left;
  position:absolute;
}

.m-stars {
  background:url('/images/stars_medium.png') top repeat-x;
  width:100px;
  height:17px;
  display:block;
  float:left;
}

.m-stars-full {
  background:url('/images/stars_medium.png') bottom repeat-x;
  width:60px;
  height:17px;
  display:block;
  float:left;
}

.sidebar-middle-add_review-headers {
  display:block;
  float:left;
}

/*ИНФОРМАЦИЯ*/
.b-sidebar-middle-info {
  display:block;
  overflow:hidden;
}

.b-sidebar-middle-info h3 {
  clear:both;
}

.b-sidebar-middle-info ul {
  line-height:18px;
}

.kind {
  display:block;
  float:left;
  height:30px;
  width:43px;
}

/*ОТЗЫВЫ*/
.b-sidebar-middle-reviews {    
  display:none;
}

/*ДОБАВИТЬ ОТЗЫВ*/
.b-sidebar-middle-add_review {  
  display:none;
}

.b-review {
  padding-bottom:20px;
}

.b-review-email {
  color:#808080;
  padding-left:20px;
}

.b-review-text {
  font-size:11px;
  padding-top:10px;
}

.b-button {
  height: 23px;
  display:block;  
  float:left;
}

.b-button-left {
  background-image: url('/images/green_button.png');
  background-position:left;
  background-repeat:no-repeat;
  height:23px;
  width:12px;
  display:block;
  float:left;
}

.b-button-right{
  display:inline-block;
  background-image: url('/images/green_button.png');
  background-position:right;
  background-repeat:no-repeat;
  height:23px;
  padding-right:15px;
}

.b-button-text {
  display: inline-block;
  padding: 4px 0 0 4px;
  color:#ffffff;
}

.b-sidebar-add_review span {
  font-size:13px;
  font-weight:700;
  float: left;
  margin-top: 5px;
}

.b-sidebar-add_review label {
  display:block;
  padding-top:25px;
}

.b-sidebar-middle-add_review-headers {
  display:block;
  float:left;
  font-size:13px;
  font-weight:700;
}

.b-sidebar-middle-add_review .b-button {
  margin:15px 0 0 20px;
  cursor: pointer;
}

.b-sidebar-add_review {  
  padding:10px 0 0 20px;
  display:block;
}

.b-sidebar-middle-reviews .b-button {
  margin:5px 0 0 20px;
  cursor: pointer;
}

/*ОТПРАВКА СКИДКИ ДРУГУ*/

.b-form_discount {
  background-image:url('/images/fade.png');
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  display:none;
  z-index: 1;
}

.b-form_discount_wrap {
  width:620px;
  margin:20px auto;
}

.b-form_discount_top {
  background:url('/images/send_discount_top.png') no-repeat;
  float:left;
  height:42px;
  width:617px;
}

.b-form_discount_top a {
  display:block;
  width:14px;
  height:16px;
  margin:20px 0 0 578px;
}

.b-form_discount_middle {
  background:url('/images/send_discount_middle.png') repeat-y;
  float:left;
  padding-left:70px;
}

.b-form_discount_bottom {
  background:url('/images/send_discount_bottom.png') no-repeat;
  float:left;
  height:100px;
  width:617px;
}

.b-form_discount_middle_title {
  display:block;
  float:left;
  padding:0;
  font-size: 26px;
  line-height: 32px;
  font-weight:500;
  width:350px;
  margin-top:10px;
}

.b-form_discount_middle_logo {
  margin-top:10px;  
}

.b-form_discount_middle_msg {
  color:#a3a19c;
  display:block;  
  padding:20px 150px 20px 0;  
  line-height:17px;
}

.b-discount_form {
  padding-top:10px;
}

.b-discount_form span {
  display:block;
  padding-bottom:5px;
  width:300px;
  line-height:19px;
  font-size:15px;
  font-weight:600;
}

.b-discount_form input {
  font-size:18px;
  height: 33px;
  width: 355px;
  margin-bottom:10px;
}

input.b-discount_form_send {
  width:173px;
  height:43px;
  display:block;  
  padding-top:20px;
  position:absolute;  
}

/* landing page */

.select_cart {
  height:150px;
  display: none;
}

.select_cart h3 {
  font-size:16px;
  font-weight:600;
  padding-bottom:10px;
}

.select-cart input {
  display:block;
  float:left;  
  width:114px;
  height:100px;
}

.classic {
  float:left;
  background:url('/images/classic_cart.png') no-repeat;
  background-position:30% 100%;
  height:100px;
  width:200px;
}

.vip {
  float:left;
  background:url('/images/vip_cart.png') no-repeat;
  background-position:30% 100%;
  height:100px;
  width:200px;
}

.sign_up_form {
  display:block;
}

.sign_up_form span {
  font-size:16px;
  font-weight:600;
  padding-bottom:5px;
  display:block;
}

.action {
  background-image:url('/images/action.png');
  background-repeat:no-repeat;
  position:absolute;
  width:136px;
  height:136px;
  margin-left:550px;
  margin-top:-40px;  
  z-index: 2;
}

.action h3 {
  color:#ffffff;
  display:block;
  padding:30px 0 0 47px;  
}

.action span {
  color:#ffffff;
  display:block;
  padding:0 28px;
  text-align:justify;
  line-height:17px;
}

.sign_in_form {
  font-size:14px;
  position:absolute;
  display:none;
}

.sign_in_form span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 5px;
  width:500px;
  line-height:19px;
}

.sign_in_form form {
  padding-top:5px;
}

.password_field {
  font-size: 18px;
  height: 33px;
  margin-right: 12px;
  padding: 5px;
  width: 355px;
}

.to_map {
  display: inline-block;
  outline: 0 none;
  vertical-align: top;
}

#yandex_maps {
  z-index: 0;
  width: 100%;
  height: 100%;  
}

.notifications {
  position:absolute;
  margin:50px 0 0 330px;
}

.b-notifications-yellow-left {
  float:left;
  background:url('/images/notification_yellow_left.png') no-repeat;
  width:37px;
  height:72px;
}

.b-notifications-yellow-middle {
  background:url('/images/notification_yellow.png') repeat-x;
  height:72px;
  float:left;
}

.b-notifications-yellow-right {
  float:right;
  background:url('/images/notification_yellow_right.png') no-repeat;
  width:27px;
  height:72px;
}

.b-notifications-yellow-right a {
  width:10px;
  height:10px;
  display:block;
  margin:5px 0 0 11px;
}

.b-notifications-pink {
  margin-top:150px;
}

.b-notifications-pink-left {
  float:left;
  background:url('/images/notification_pink_left.png') no-repeat;
  width:35px;
  height:72px;
}

.b-notifications-pink-middle {
  background:url('/images/notification_pink.png') repeat-x;
  height:72px;
  float:left;
}

.b-notifications-pink-right {
  float:left;
  background:url('/images/notification_pink_right.png') no-repeat;
  width:23px;
  height:72px;
}

.b-notifications-pink-right a {
  width:10px;
  height:10px;
  display:block;
  margin:3px 0 0 8px;
}

.b-notification-text{
  display:block;
  max-width:350px;
  font-size:12px;
  line-height:15px;
}

.b-notification-text-pink{
  display:block;
  max-width:250px;
  font-size:12px;
  line-height:15px;
}

.b-notification-title{
  font-weight:600;
  font-size:13px;
  padding:10px 0 5px 0;
}

.b-notification-label{
  width:39px;
  height:39px;
  position:fixed;
  right:10px;
  bottom:10px;
  background:url('/images/notification_label.png') no-repeat;
  cursor: pointer;
  display: none;
}

#review_text {
  width:260px;
  height: 85px;
}

#review_rating {
  margin-left: 10px;
  vertical-align: sub;
}

#overlay {
  position: absolute;
  top:      0px;
  z-index:  2;

  width:  100%;
  height: 100%;

  background: url(/images/landing_fade.png) right bottom;
}

#buzz {
  position: absolute;
  left: 50%;
  margin-left: -310px;
  margin-top:45px;
}

#window_top {
  width:  619px;
  height: 50px;
  background: url(/images/landing_window_top.png) no-repeat;
}

#window_middle {
  width:   499px;
  padding: 0 60px;

  background: url(/images/landing_window_middle.png) repeat;
}

#title {
  margin-bottom: 18px;
  clear: both;
}

#title h2 {
  font-size: 26px;
  width: 300px;
  line-height: 32px;
  display: inline-block;
}

#title img {
  vertical-align: top;
  margin-top: -4px;
}

#description {
  font-size: 13px;
  line-height: 22px;
  padding-bottom: 20px;
}

#sign_up_form {
  position: absolute;
  font-size: 14px;
}

#dialog_form {
  padding-top: 5px;
}

#window_bottom {
  width:  499;
  height: 120px;
  width: 619px;
  padding: 0 60px;
  background: url(/images/landing_window_bottom.png) no-repeat;
}

#sign_up_user_email {
  width:   355px;
  height:  33px;
  padding: 5px;

  margin-right: 12px;

  font-size: 18px;
}

.sign_up_form_submit_button {
  vertical-align: top;
  outline: 0;
  display: inline-block;
}

#arrow {
  position: absolute;
  bottom: 175px;
  right:  -85px;
  top:    300px;
  width:  119px;
  height: 70px;

  background: url(/images/landing_arrow.png);